body{
	background-color:#232323;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}
.square{
	width:30%;
	background-color:purple;
	padding-top:30%;
	float:left;
	margin:1.66666666%; 
	border-radius: 15%;
	transition: background 1s;

}
.container{
	max-width: 600px;
	margin: 20px auto;
}
h1{
	text-align: center;
	line-height: 1.1;
	color:white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black
}

.selected{
	color: white;
	background-color: steelblue;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}